body {
    margin: 0;
    padding: 0;
    background-image: url('BoostVision.png');
    color: rgb(240,240,240);
    display:flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    font-family: Verdana, Tahoma, sans-serif
}

header {
    width:95%;
    max-width: 788px;
    display: flex;
    justify-content: flex-end;
    padding: 12px;
    margin-top: 15px;
}

.share-button {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(240,240,240);
}

.share-button svg {
    margin-left:8px;
    margin-top: 4px;
    margin-right: 6px;
    color: rgb(0, 0, 0);
}

.container {
    width: 91%;
    max-width: 680px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 20px;
    margin-bottom: 30px;
}

a {
    text-decoration: none;
    color: rgb(240,240,240);
}

.tile {
    margin:7px;
    width:100%;
    background-color: rgb(37,37,37);
    border-radius: 17px;
    display: flex;
    justify-content: space-between;
}

.tile:hover {
    transition: cubic-bezier(.07, 1.41, .82, 1.41) 0.2s;
    transform: scale(1.02);

}

.tile2 {
    margin:5px;
    width:50%;
    height: 50px;
    background-color: rgb(156, 16, 16);
    border-radius: 17px;
    display: flex;
    justify-content: space-between;
}
.tile2 .icon svg {
    width: 35px; 
    height: 35px;
}

.tile2 .tile-share-button {
    visibility: hidden; 
    width: 35;           
    height: 0;          
}

.tile2:hover {
    transition: cubic-bezier(.07, 1.41, .82, 1.41) 0.2s;
    transform: scale(1.02);

}

.tile3 {
    margin:5px;
    width:80%;
    height: 50px;
    background-color: rgb(156, 16, 16);
    border-radius: 17px;
    display: flex;
    justify-content: space-between;
}
.tile3 .icon svg {
    width: 35px; 
    height: 35px;
}

.tile3 .tile-share-button {
    visibility: hidden; 
    width: 35;           
    height: 0;          
}

.tile3:hover {
    transition: cubic-bezier(.07, 1.41, .82, 1.41) 0.2s;
    transform: scale(1.02);

}
.tile3 p {
    width: 55%;
    text-align: center; /* Centers the text */
    margin-left: auto; /* Center the paragraph within the container */
    margin-right: auto; /* Center the paragraph within the container */
}

.tile4 {
    margin:5px;
    width:50%;
    height: 50px;
    background-color: rgb(37,37,37);
    border-radius: 17px;
    display: flex;
    justify-content: space-between;
}
.tile4 .icon svg {
    width: 35px; 
    height: 35px;
}

.tile4 p {
    width: 55%;
    text-align: center; /* Centers the text */
    margin-left: auto; /* Center the paragraph within the container */
    margin-right: auto; /* Center the paragraph within the container */
}

.tile4:hover {
    transition: cubic-bezier(.07, 1.41, .82, 1.41) 0.2s;
    transform: scale(1.02);

}




.share-button svg {
    margin-left:6px;
    margin-top: 5px;
}


.tile-share-button {
    margin: 8px;
    width:40px;
    height:40px;
    border-radius: 20px;
    background-color: rgb(52,52,52);
}

.tile-share-button svg {
    margin-left:12px;
    margin-top: 10px;
}

.image-container {
    height: 96px;
    width: 96px;
    border-radius: 48px;
    overflow: hidden;
}

.image-container img {
    height: 100%;
}

.icon {
    width:44px;
    height:44px;
    margin: 6px 8px;
}

footer {
    margin-top: 100px; 
    background-color: #f1f1f1; 
    padding: 8px; 
    text-align: center; 
    border-radius: 20px; 
}
